@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
body {
      font-family: Arial, sans-serif;
      background-color: #121212;
      color: #f0f0f0;
      margin: 0;
      padding: 20px;
    }
    h1, h2 {
      color: #1a53a2;
    }
    .container {
      max-width: 900px;
      margin: auto;
      background: #1e1e1e;
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .container h2{
      font-size: 2em;
      font-family: "Alumni Sans SC", sans-serif;
    }
    #headder{
      text-align: center;
    }
    #headder h1{
      font-size: 4em;
      font-family: "Bebas Neue", sans-serif;;

    }
    #headder p{
      font-size: 2em;
      font-family: "Alumni Sans SC", sans-serif;
    }

    label, input, select, button {
      display: block;
      margin: 10px 0;
    }
    input, select, button {
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      border: none;
    }
    button {
      background-color: #1348c5;
      color: #000;
      font-weight: bold;
      cursor: pointer;
    }
    .result {
      background: #2c2c2c;
      padding: 15px;
      border-radius: 5px;
      margin-top: 20px;
    }
    .hed{
      padding-right: 20px;
    }
    
    footer {
      text-align: center;
      padding: 2rem;
      color: #cce3ff;
      font-size: 1.2rem;
    }
    footer a{
      text-decoration: none;
    }
    .safe { color: #00ff00; }
    .risky { color: #ffcc00; }
    .impossible { color: #ff4444; }